@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Wix-Regular;
  src: url("./assets/fonts/WixMadeforDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Wix-Semibold;
  src: url("./assets/fonts/WixMadeforDisplay-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Gogesty;
  src: url("./assets/fonts/Gogesty-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

body {
  background: #fffff8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 400;
}

.text-header {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
